[Desktop Entry]
Version=1.0
Terminal=false
Icon=turtlebot
Type=Application
Keywords=Science;Education;Robotics;Robot
Categories=Development;Science;Education;
Exec=bash -i turtlebot-dashboard
Name=TurtleBot
GenericName=Robot Software
Comment=TurtleBot Robot Software Suite

Actions=Dashboard;Config;

[Desktop Action Dashboard]
Exec=bash -i turtlebot-dashboard
Name=Open Dashboard
GenericName=TurtleBot Dashboard
Comment=Dashboard for TurtleBot
TargetEnvironment=Unity

[Desktop Action Config]
Exec=bash -i -c "gedit $HOME/.config/bashrc.d/70_turtlebot_loadout"
Name=Configure Hardware Loadout
GenericName=TurtleBot Configuration Tool
Comment=Configuration Tool for TurtleBot
TargetEnvironment=Unity
