[Desktop Entry]
Name=turtlebot-config
GenericName=TurtleBot Config
Comment=Configure TurtleBot Loadout
Icon=turtlebot-config
Exec=bash -i -c "gedit $HOME/.ros/environment"
Terminal=false
Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
Name[en_US]=TurtleBot Config
