Source: turtlebot-desktop
Section: x11
Priority: optional
Maintainer: I Heart Engineering <code@iheartengineering.com>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.9.3

Package: turtlebot-desktop
Architecture: any
Depends: ${misc:Depends}, turtlebot-ros
Provides: turtlebot-desktop
Description: TurtleBot Desktop Environment
Conflicts: 
