Source: turtlebot-desktop
Section: x11
Priority: optional
Maintainer: I Heart Engineering <code@iheartengineering.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: turtlebot-desktop
Architecture: any
Depends: python, daemontools, libc6, build-essential, ros-fuerte-turtlebot, ros-fuerte-turtlebot-viz, ros-fuerte-turtlebot-apps
Provides: turtlebot-desktop
Description: TurtleBot Desktop Environment
Conflicts: 
